@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: DM Sans;
}

 

body{
    background-color:#020202;
   
   }

   header{
    margin-left: 2rem;
    margin-top: 2rem;
  background-color: #020202;
    height: 2rem;
    display: flex;
    justify-content: space-between;
align-items: center;
    color:#fff;
   }


.links ul{
   display: flex;
   gap: 2rem;
   
 ;
   
}
.container{
    width: 80%;
    display: flex;
    justify-content:center;
    color: #fff;

}

.container-text{
    flex: 1;
    margin: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.container-img{
    flex: 1;
    display: flex;
    justify-content: center;
   
}
.container-img img{
    margin: 50px;
    width:400px;
    height:400px;
    border-radius:50% ;
    border: #020202 solid;
    border: gray;
    padding: 10px;
}

.div-button{
    display: flex;
    gap: 10px;
  

}
.container-text .div-button button{
    width: 100px;
    height: 30px;
    color: #fff;
  
}

 #button-Download {
    background-color:#27AE60;
    border: none;
}

#button-Learn{
    background-color: black;
    border: #F2F2F2 solid 1px;
}

.About-content{
    margin-top: 3rem;
    margin-left:8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #fff;
}

.About-content h1 ,h3,#aycons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#aycons img{
    width: 50px;
    height: 50px;
}
.aycons-clik{
    display: flex;
    flex-direction: column;
    
}